<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>MSCS
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Person Finder App</h3>
          </header>
          <div class="widget-body">
            <p class="widget-login-info">
              <a *ngIf="!authService.authenticated">To request access please contact Missing Children Society of Canada.</a>
              <a *ngIf="authService.authenticated">Welcome {{authService.user.name}}!</a>
            </p>
            <p class="widget-login-info">
            </p>
            <form class="login-form mt-lg">
              <div class="form-group">
              </div>
              <div class="form-group">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar float-center m-t-1">
                  <button class="btn btn-secondary btn-sm" (click)="authService.login()" type="button" *ngIf="!authService.authenticated">Login As Admin</button>
                  <button class="btn btn-secondary btn-sm" (click)="authService.login()" type="button" *ngIf="!authService.authenticated">Login As Guest</button>
                  <button class="btn btn-inverse btn-sm" [routerLink]="['/app', 'dashboard'] " *ngIf="authService.authenticated">Go To Reports</button>
                </div>
              </div>
              <div class="row m-t-1">
                <div class="col-md-6 push-md-6">
                  <div class="clearfix">
                    <div class="abc-checkbox widget-login-info float-right">
                    </div>
                  </div>
                </div>

                <div class="col-md-6 pull-md-6">
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
  </footer>
</div>
