<div [hidden]="true">
      <a [routerLink]=" ['dashboard'] ">
        Dashboard
      </a>
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item" [hidden] = "true">YOU ARE HERE</li>
  <li class="active breadcrumb-item">Profile</li>
</ol>
<h1 class="page-title">{{person.name}}</h1>
<div class="row profile">
  <div class="col-lg-6 col-12">
    <section class="widget">
      <div class="widget-body">
        <div class="widget-top-overflow text-white">
          <div class="height-250 overflow-hidden">
            <img class="img-fluid" src="assets/img/pictures/19.jpg">
          </div>
          <div class="btn-toolbar">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" [(ngModel)]="emailTo" *ngIf="authService.authenticated"/>
                <a (click)="sendEmail(emailTo, person.id)" class="btn btn-outline btn-sm pull-right" *ngIf="authService.authenticated">
                  <i class="fa fa-envelope fa-fw mr-xs"></i>
                  Send Data
                </a>
                <div [hidden]="!emailSent">
                  Email Sent to: {{emailTo}}
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-12 text-center">
            <div class="post-user post-user-profile">
              <span class="thumb-xlg">
                <img class="rounded-circle" src="{{person.photo}}" alt="..." ng-hide="person.photo == null">
              </span>
              <h5 *ngIf="person.name" class="fw-normal">{{person.name}}</h5>
              <p *ngIf="person.gender">{{person.gender}}</p>
              <ul class="contacts">
                <li *ngIf="person.telephoneCountryCode"><i class="fa fa-phone fa-fw mr-xs"></i><a href="#"> +{{person.telephoneCountryCode}} {{person.telephoneNumber}}</a></li>
                <li *ngIf="person.emailAddress"><i class="fa fa-envelope fa-fw mr-xs"></i><a href="mailto:{{person.emailAddress}}"> {{person.emailAddress}}</a></li>
                <li *ngIf="person.countryFull"><i class="fa fa-map-marker fa-fw mr-xs"></i><a href="#"> {{person.countryFull}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-12">
    <section class="activities">
      <h2 class="m-l-1">Details</h2>
      <table>
        <tr *ngIf="person.nickname">
          <td>Nickname</td>
          <td>{{person.nickname}}</td>
        </tr>
        <tr *ngIf="person.streetAddress">
          <td style="vertical-align: top">Address</td>
          <td style="vertical-align: top">
            {{person.streetAddress}}<br> {{person.city}}, {{person.state}}<br> {{person.zipCode}}
          </td>
        </tr>
        <tr *ngIf="person.school">
          <td>School</td>
          <td>{{person.school}}</td>
        </tr>
        <tr *ngIf="person.birthday">
          <td>DOB</td>
          <td>{{person.birthday}}</td>
        </tr>
        <tr *ngIf="person.gender">
          <td>Gender</td>
          <td>{{person.gender}}</td>
        </tr>
        <tr *ngIf="person.centimeters">
          <td>Height</td>
          <td>{{person.centimeters}}</td>
        </tr>
        <tr *ngIf="person.eyeColor">
          <td>Eye Color</td>
          <td>{{person.eyeColor}}</td>
        </tr>
        <tr *ngIf="person.hairColor">
          <td>Hair Color</td>
          <td>{{person.hairColor}}</td>
        </tr>
        <tr *ngIf="person.hairStyle">
          <td>Hair Style</td>
          <td>{{person.hairStyle}}</td>
        </tr>
        <tr *ngIf="person.bodyBuild">
          <td>Body Build</td>
          <td>{{person.bodyBuild}}</td>
        </tr>
        <tr *ngIf="person.facialHair">
          <td>Facial Hair</td>
          <td>{{person.facialHair}}</td>
        </tr>
        <tr *ngIf="person.marks">
          <td>Marks</td>
          <td>{{person.marks}}</td>
        </tr>
        <tr *ngIf="person.jewelry">
          <td>Jewelry</td>
          <td>{{person.jewelry}}</td>
        </tr>
        <tr *ngIf="person.social">
          <td>
            <table>
              <thead>
                <td><strong>Twitter</strong></td>
                <td><strong>Facebook</strong></td>
                <td><strong>Instagram</strong></td>
              </thead>
              <tbody>
              <tr>
                <td>{{person.social.twitter}}</td>
                <td>{{person.social.facebook}}</td>
                <td>{{person.social.Instagram}}</td>
              </tr>
              <tbody>
            </table>
            
          </td>
        </tr>
        <tr *ngIf="person.latitude">
          <td>Last Known Location</td>
          <td>
            <a target="_blank" 
              href="https://www.bing.com/maps?q=latitude+{{person.latitude}}%2c+longitude+{{person.longitude}}">
            lat: {{person.latitude | number:0.00}}, 
            long: {{person.longitude | number:0.00}}
            </a>
            </td>
        </tr>
        <tr *ngIf="person.contacts">
          <td style="vertical-align: top">Contact With</td>
          <td style="vertical-align: top">
            <table>
              <tr>
                <th>Name</th>
                <th>Contact Type</th>
                <th>Communication Type</th>
              </tr>
              <tr *ngFor="let contact of person.contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.contactType}}</td>
                <td>{{contact.communicationType}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>
